* {
    box-sizing: border-box;
}

body {
    background-color: rgba(159, 159, 54, 0.744);
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

section {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}